@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

*{
    transition: 0.3s ease;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}

body{
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}

.table-container{
    max-height: 99vh;
    width: 30%;
    overflow: auto;
}
td{
    /* border: 2px solid black; */
    background: rgb(240, 240, 240);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transform-origin: center;
}
td:hover{
    background: rgb(226, 226, 226);
    color: black;
}
td:active{
    transform: scale(0.98);
}

.td_container{
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
}

.flags{
    height: 20px;
    width: 25px;
    border-radius: 5px;
}

#myChart{
    
}